h1 {
    background-color: burlywood;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.regular-div {
    background-color: cadetblue;
}
#form-div {
    background-color: deeppink;
    float: left;
    width: 400px;
}
.footer p {
    font-weight: bold;
    font-size: larger;
    clear: both;
}
#list-div {
    float: left;
    width: 300px;
}
#widgets-div {
    float: left;
}